# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Build output
/dist
/build

# System Files
.DS_Store
Thumbs.db

# IDE Specific
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
